.containerCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px;
}

.card {
    background-color: rgb(34, 34, 32);
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    color: rgb(201, 201, 201);
    margin: 4px;
    border: 1px solid rgb(0, 0, 0);
}

.card img {
    border-radius: 5px;
}

.card:hover {
    scale: 1.02;
    transition: .3s;
}

.link {
    text-decoration: none;

}